.parallax {
    background-image: url("../../assets/img/fundo.jpg");
    min-height: 500px;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p {
  background-color: rgba(240, 248, 255, 0.431);
  color: rgb(0, 0, 0);    
  font: italic small-caps 25px Georgia, serif;
  text-align: justify;
  width: auto;
  padding: 2px;
  line-height: 1.9;
  text-indent: 4em;
}