<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindos ao me blog!!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed earum doloremque laboriosam impedit
                sit nisi! Autem, rerum adipisci nisi corrupti veniam in cupiditate distinctio nihil, odit, quisquam
                commodi est delectus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta expedita repellat blanditiis neque
                deserunt voluptas. Iure et, iste perferendis ex perspiciatis similique ipsam repellat deserunt animi
                quod, consequuntur, molestias cupiditate.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsam non sint illo quam
                praesentium similique facere beatae, modi corporis placeat maiores quos libero sit ea deserunt
                magnam unde enim.
            </p>
        </div>
    </div>
</div>

<!--Imagem de fundo-->
<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>