<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindos ao me blog!!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p>                
                Olá a todos este é o blog pessoal de Rafaela (Rafyy2102), estou terminando a faculdade de TADS (Tecnólogo de Analise e desenvolvimento de sistemas) em dezembro de 2020 e também concluo o curso da Generation de Full Stack Júnior.
            </p>
            <p>
                Minha paixão por tecnologia não começou quando era criança ou durante a faculdade, mas começou com o trabalho na área administrativa, lindando com documentos e sistemas prontos para inserção de dados administrativos; Para um administrador um erro é crucial para sua carreira, analisando deste modo administrativo lidar com erros de documentos era fácil, porém    lidar com erros de sistemas sempre foi complexo, o administrador consegue solucionar e organizar os devidos problemas de documentos, mas problemas de sistemas o administrador de empresa não consegue solucionar, deste modo deve ser solicitado para o desenvolvedor solucionar tais problemas, sendo que na visão administrativa parecia simples.
            </p>              
            <p>
                Minha motivação na área da tecnologia é saber que tem um mundo de infinitas possiblidades onde minha imaginação e criatividade se afloram com mais intensidade, assim consigo ter prazer em estar nesta área; porque gosto de solucionar problemas e isto me fascina, me descobri, gosto muito do que faço que é estudar tecnologia e desenvolver soluções inovadoras.
            </p>
            <p> 
                Assim minhas dificuldades quando estava na área administrativa foram sanadas com o decorrer do tempo, criando sistemas e softwares com mais clareza e comunicação para os meus companheiros e para possíveis clientes.  
                   
            </p>
        </div>
    </div>
</div>

<!--Imagem de fundo-->
<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>