<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center mt-3">
  <div class="d-flex justify-content-center">

    <img class="card-img-top rounded-circle w-75" src="../../assets/img/perfil.JPG" alt="...">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace">Rafaela</h5>
    <p class="card-text text-center text-monospace">Estudante de Análise e Desenvolvimento de Sistemas.</p>

    <a href="https://www.linkedin.com/in/rafaelass0221/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>

    <a href="https://github.com/Rafyy2102" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">GitHub</a> 

  </div>
</div>