<footer class="page-footer font-small bg-secondary pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Acompanhe meus projetos e me siga nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li><a href="https://github.com/Rafyy2102" target="_blank" class="icoGithub" title="Github">
                            <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3"></fa-icon>
                        </a></li>

                    <li><a href="https://www.linkedin.com/in/rafaelass0221/" target="_blank" class="icoLinkedin" title="Linkedin">
                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                        </a></li>

                    <!--
                     <li><a href="https://www.facebook.com" target="_blank" class="icoFacebook" title="Facebook">
                            <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                        </a></li>
                    <li><a href="https://www.instagram.com" target="_blank" class="icoInstagram" title="Instagram">
                            <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                        </a></li>
                    -->
                </ul>
            </div>
        </div>

        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-center py-3 ">        
        <a class="text-light" target="_blank" href="https://github.com/Rafyy2102">  Todos os direitos reservados: Rafyy2102</a>
        <span class="text-light"> © 2020 Copyright </span>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->